<!DOCTYPE html>
<html lang="en-us">

    <head>
        
        {{!-- MetaData --}}
        <meta charset="UTF-8"/>
        <meta 
            name="viewport" content="width=device-width, initial-scale=1.0"
        />

        {{!-- Google Fonts --}}
        <link 
            href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@700&display=swap" 
            rel="stylesheet"
        />

        {{!-- Font Awesome --}}
        <script 
            src="https://kit.fontawesome.com/44f6844bdb.js" 
            crossorigin="anonymous"
        ></script>

        {{!-- Our CSS --}}
        <link 
            rel="stylesheet" 
            href="../../public/css/styles.css"
        />

        {{!-- BootStrap --}}
        <link 
            href="https://maxcdn.bootstrapcdn.com/bootswatch/4.0.0/flatly/bootstrap.min.css" 
            rel="stylesheet"
        />
        <script 
            src="https://code.jquery.com/jquery.js"
        ></script>
        <script 
            src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        ></script>
        <link 
            rel="stylesheet" 
            href="#" 
            media="screen"
        />

        {{!-- Document Title --}}
        <title>wēpost Main Page</title>

    </head>

    <body>

        {{{ body }}}
        
    </body>

</html>