<h1 class="title-font">
    wēpin
</h1>

<form>

    <label 
        for="user-search"
    >Search:</label>
    <br />
    <input 
        type="text" 
        id="user-search"
        placeholder="Enter Zip Code"
    />
    <br />
    <button 
        type="submit" 
        id="submitBtn"
    >
        <i class="fa fa-search">
        </i>
    </button>
    
</form>