/* .title-font {
  font-family: 'Montserrat Alternates', sans-serif;
}

#submitBtn {
  background-color: black;
  color: white
}

.display-4 {
  text-align: center;
}

.jumbotronjumbotron-fluid {
  padding: 70px;
  border: 1px solid #4CAF50;
}
  
 .navbar .navbar-expand-lg .navbar-light .bg-light {
  background-color: black;
}
.body {background-color: coral;}

footer {
  text-align: center;
  padding: 3px;
  background-color: DarkSalmon;
  color: white;
} */
