.title-font {
  font-family: 'Montserrat Alternates', sans-serif;
}

#submitBtn {
  background-color: black;
  color: white
}

.display-4 {
  text-align: center;
}

/* .jumbotronjumbotron-fluid {
  padding: 70px;
  border: 1px solid #4CAF50; */
  
.navbarnavbar-expand-lgnavbar-lightbg-light {
  background-color: black;
}